
device:
    gpu_device: cuda 
  
base_dir: /groups/turaga/home/speisera/Mackebox/Artur/WorkDB/deepstorm/
run_name: test/test_sub

cfg_path: ${base_dir}/decode_fish/config/train.yaml

seed: 0
  
output:
    project: test
    group: nb_run 
    save_dir: ${base_dir}/models/fishcod/${output.project}/${output.group}/${run_name}
    log_dir : ${base_dir}/decode_fish/runs/
    log_figs : True
    log_interval: 100
    wandb_mode: online # offline , disabled
  
data_path: 
    image_path: 
    psf_path: 
    model_init: 
    
evaluation:
    image_path: ${data_path.image_path}
    txt_path: 
    psf_path: 
    crop_sl: s_[:,:,:,:]
    img_ind: 0
    px_size_zyx: [100,100,100]
    
prob_generator:
    low: 1e-8
    high: 0.005
    
random_crop: 
    crop_sz: 48
    
bg_estimation:
    smoothing:
        _target_: decode_fish.funcs.dataset.GaussianSmoothing
        smoothing_filter_size: 5
    fractal:
        _target_: decode_fish.funcs.dataset.AddPerlinNoise
        shape: ${random_crop.crop_sz}
        res: [2,4,4]
        octaves: 3
        persistence: 0.5
        scale: 0

roi_mask:
    pool_size: [10,10,10]
    percentile: 50 # Percentage of volume that is not sampled from
               
PSF:
    _target_: decode_fish.engine.psf.LinearInterpolatedPSF 
    device: ${device.gpu_device}
    gauss_radii: [1.,1.,1.]
    psf_extent_zyx : [21,21,21]
    
noise:
    _target_: decode_fish.engine.noise.sCMOS
    theta: 2. 
    baseline: 0.
    
microscope:
    _target_: decode_fish.engine.microscope.Microscope
    scale: 100
    norm: 'max'
    
foci:
    _target_: decode_fish.funcs.dataset.AddFoci
    n_foci_avg: 0.
    rad_range: [25,200]
    n_mol_range: [5,30]
    px_size_zyx: ${evaluation.px_size_zyx}
    mode: 'gaussian'
    
intensity_dist:
    int_conc: 3.
    int_rate: 3.
    int_loc: 3.
    
model:
    _target_: decode_fish.engine.model.UnetDecodeNoBn
    depth: 2
    f_maps: 32
    inp_scale: 
    inp_offset: 
    p_offset: -4.0
    order: 'ce'
    int_conc: ${intensity_dist.int_conc}
    int_rate: ${intensity_dist.int_rate}
    int_loc:  ${intensity_dist.int_loc}
    
post_proc_isi:
    _target_: decode_fish.funcs.output_trafo.ISIPostProcess
    m1_threshold: 0.03
    samp_threshold: 0.7
    px_size_zyx: ${evaluation.px_size_zyx}
    diag: True
    
training:
    bs: 2
    start_iter: 0
    num_iters: 30000
    start_ae: 0
    net:
        bl_loss_scale: 0.01
        cnt_loss_scale: 1
        grad_clip: 0.005
        sched:   
            _target_: torch.optim.lr_scheduler.StepLR
            gamma: 0.5
            step_size: 5000
        opt:
            _target_: torch_optimizer.QHAdam
            lr: 5e-4
    mic:
        enabled: True
        grad_clip: 0.1
        norm_reg: 0.5
        opt:
            _target_: torch_optimizer.QHAdam
            lr: 0.00025
        sched:
            _target_: torch.optim.lr_scheduler.StepLR
            gamma: 0.5
            step_size: 5000
    int:
        enabled: True
        grad_clip: 
        opt:
            _target_: torch_optimizer.QHAdam
            lr: 0.001
        sched:
            _target_: torch.optim.lr_scheduler.StepLR
            gamma: 0.5
            step_size: 5000