seed: 0

device:
    gpu_device: cuda 
  
run_name: test/test_sub

cfg_path: /groups/turaga/home/speisera/Dropbox (mackelab)/Artur/WorkDB/deepstorm/decode_fish/config/train.yaml
  
output:
    project: test
    group: nb_run 
    save_dir: /groups/turaga/home/speisera/Mackebox/Artur/WorkDB/deepstorm/models/fishcod/${output.project}/${output.group}/${run_name}
    log_dir : /groups/turaga/home/speisera/Mackebox/Artur/WorkDB/deepstorm/decode_fish/runs/
    log_figs : True
    log_interval: 100
  
data_path: 
    image_path: /groups/turaga/home/speisera/share_TUM/FishSIM/sim_1/mRNAlevel_200/cell3D/strong/w1_HelaKyoto_Gapdh_2597_p01_cy3__Cell_CP_14__cell3D__1.tif
    psf_path: 
    model_init: 
    
evaluation:
    image_path: ${data_path.image_path}
    txt_path: 
    psf_path: 
    crop_sl: s_[:,100:250,100:250,25:60]
    img_ind: 0
    px_size_zyx: [100,100,100]
    
prob_generator:
    low: 1e-8
    high: 0.005
    
bg_estimation:
    _target_: decode_fish.funcs.dataset.EstimateBackground
    smoothing_filter_size: 6
    div_factor: 1
    
random_crop: 
    crop_sz: 48

roi_mask:
    pool_size: [10,10,10]
    percentile: 50 # Percentage of volume that is removed
               
PSF:
    _target_: decode_fish.engine.psf.LinearInterpolatedPSF 
    device: ${device.gpu_device}
    gauss_radii: [1,1,1]
    psf_extent_zyx : [21,21,21]
    
noise:
    _target_: decode_fish.engine.noise.sCMOS
    theta: 2. 
    baseline:  0.09
    
microscope:
    _target_: decode_fish.engine.microscope.Microscope
    int_conc: 200
    int_rate: 50
    int_loc: 0
    psf_noise: 2e-5
    clamp_mode: 'cx'
    
foci:
    _target_: decode_fish.funcs.dataset.AddFoci
    n_foci_avg: 0.
    rad_range: [25,200]
    n_mol_range: [5,30]
    px_size_zyx: ${evaluation.px_size_zyx}
    mode: 'gaussian'
    
model:
    _target_: decode_fish.engine.model.UnetDecodeNoBn
    depth: 2
    f_maps: 32
    inp_scale: 
    inp_offset: 
    p_offset: -4.0
    order: 'ce'
    
post_proc_isi:
    _target_: decode_fish.funcs.output_trafo.ISIPostProcess
    m1_threshold: 0.03
    samp_threshold: 0.7
    px_size_zyx: ${evaluation.px_size_zyx}
    diag: True
    
post_proc_si:
    _target_: decode_fish.funcs.output_trafo.SIPostProcess
    m1_threshold: 0.03
    m2_threshold: 0.5
    samp_threshold: 0.1
    px_size_zyx: ${evaluation.px_size_zyx}
    diag: False
    
training:
    bs: 2
    num_iters: 15000
    start_micro: 1000
    start_psf: 6000
    net:
        bl_loss_scale: 0.01
        cnt_loss_scale: 1
        grad_clip: 0.005
        sched:   
            _target_: torch.optim.lr_scheduler.StepLR
            gamma: 0.5
            step_size: 6000
        opt:
            _target_: torch.optim.AdamW
            lr: 5e-4
    psf:
        grad_clip: 0.1
        gamma: 0.5
        step_size: 2000
        norm_reg: 0.5
        opt:
            _target_: torch.optim.SGD
            lr: 7e-3
        sched:
            _target_: torch.optim.lr_scheduler.StepLR
            gamma: 0.5
            step_size: 3000
    micro:
        opt:
            _target_: torch.optim.SGD
            lr: 1e-2
        sched:
            _target_: torch.optim.lr_scheduler.StepLR
            gamma: 0.5
            step_size: 3000

other:
    pp: 'isi'
  
# hydra:
#   run:
#     dir: ${output.save_dir}/${now:%H-%M-%S}